body {
    font-family: Raleway, sans-serif;
    color: white;
  }
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-image: url("https://images.unsplash.com/photo-1709377195538-5522ed0f9e10?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZGFyayUyMGFic3RyYWN0fGVufDB8fDB8fHww");
    background-size: cover;
  }
  
  .right {
    right: 0;
    background-color: #0e0d0e;
  }

  .centered {
    border-radius: 5px;
    background-color: #191719;
  }